<!DOCTYPE html>
<html>
  <head>
	  <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1">
    <meta content="telephone=no" name="format-detection" />
    <meta content="address=no" name="format-detection" />
	  <link rel="stylesheet" type="text/css" href="css/screen.css">
	  <script src='js/script.js'></script>
	  <script src='js/lib/gs/TweenLite.min.js'></script>
	  <script src='js/lib/angular/angular.min.js'></script>
	  <script src='js/lib/f.js'></script>
	  <script src='js/lib/dom.js'></script>
    <script src='js/screen_object.js'></script>
    <script src='js/preloader.js'></script>
    <script src='js/intro_text.js'></script>
    <script src='js/transition.js'></script>
    <script src='js/main.js'></script>
  </head>
  <body ng-app="app" ng-controller="appController" class="cast_mobile">
	  <div id='bg' class="cast_mobile"></div>
    <div class="p-title">
      <h1>CAST</h1>
    </div>
	  <div id='content'>
      <div class="w-content">
        <div class="b-content">
          <div class="b-content_inside">
            <div class="w-tab">
              <ul class="tab">
                <li><a href="#" class="active"><span>MIAKA MONROE</span></a></li>
                <li><a href="#"><span>BRAD CARTER</span></a></li>
                <li><a href="#"><span>WILL PATTON</span></a></li>
                <li><a href="#"><span>LOGAN MILLER</span></a></li>
                <li><a href="#"><span>MAGGIE GRACE</span></a></li>
                <li><a href="#"><span>BONNIE BEDELIA</span></a></li>
              </ul>
            </div>
            <div class="w-text">
              <div class="w-img w-img__portrait">
                <img alt="img" src="image/img/ima.jpg"/>
              </div>
              <div class="b-text">
                <div class="t-title">
                  <h2>MIAKA MONROE</h2>
                  <h3>Jody</h3>
                </div>
                <div class="text">
                  <p>Maika Monroe is a professional kiteboarder turned actress
                    who is taking Hollywood by storm. Garnering comparisons to
                    some of the top names in the industry, she made her acting
                    debut in the 2012 film AT ANY PRICE, co-starring Zac Effron
                    and Dennis Quaid. In April 2012, Monroe signed up for the
                    drama LABOR DAY, an adaptation of the hit novel, starring
                    Josh Brolin and Kate Winslet. In June 2013, she joined the cast
                    of the psychological thriller film THE GUEST, which gained
                    almost unprecedented acclaim from audiences after 
                    playing at numerous film festivals, including the prestigious
                    Sundance Film Festival. In August 2014, she joined the alien
                    invasion thriller film THE 5TH WAVE, the first in a best-selling
                    series of Young Adult novels of the same name. Most recently,
                    she has garnered critical and audience accolades as the lead in
                    the hit film IT FOLLOWS,</p>
                </div>
                <div class="btn_top">
                  <span class="btn"></span>
                </div>
              </div>
              <div class="w-img w-img__landscape">
                <div class="b-img b-img__landscape" style="background-image: url('image/img/imaL.jpg');"></div>
              </div>
            </div>
            
            <div class="w-text hidden">
              <div class="w-img w-img__portrait">
                <img alt="img" src="image/img/imb.jpg"/>
              </div>
              <div class="w-img w-img__landscape">
                <div class="b-img b-img__landscape" style="background-image: url('image/img/imbL.jpg');"></div>
              </div>
              <div class="b-text">
                <div class="t-title">
                  <h2>WILL PATTON</h2>
                  <h3>Senior</h3>
                </div>
                <div class="text">
                  <p>Will Patton successfully divides his time between mainstream
                    and independent features, television films, and a stage career
                    on and off-Broadway. Born and raised in North Carolina,Patton
                    learned his craft at the North Carolina School of the Arts and at
                    New York's Actor's Studio where he studied under Lee Strasberg.
                    During the early '80s, Patton appeared in such
                    New York-based independent films as Michael Oblowitz's KING 
                    BLANK and VARIETY (both 1983). Patton was cast in his first
                    big-budget film, Martin Scorsese's AFTER HOURS (1985), where he
                    played a brutish boyfriend with a thing for leather and chains.
                    His best portrayal of a villain can be found in the Gene
                    Hackman-starring thriller NO WAY OUT (1987) which he
                    followed with the Kevin Costner project THE POSTMAN and the
                    Michael Bay blockbuster ARMAGEDDON. At the beginning of 
                    the 21st century Patton continued to remain busy with major
                    roles in REMEMBER THE TITANS, GONE IN 60 SECONDS, THE
                    MOTHMAN PROPHECIES, and THE PUNISHER. Most recently, Will
                    finished a lead role in the TNT sci-fi television series FALLING
                    SKIES, executive produced by Steven Spielberg.</p>
                </div>
                <div class="btn_top">
                  <span class="btn"></span>
                </div>
              </div>
            </div>
            
            <div class="w-text hidden">
              <div class="w-img w-img__portrait">
                <img alt="img" src="image/img/imc.jpg"/>
              </div>
              <div class="b-text">
                <div class="t-title">
                  <h2>magie grace</h2>
                  <h3>Laurie</h3>
                </div>
                <div class="text">
                  <p>Maggie Grace, is best known from her roles on the iconic
                    television series LOST and, more recently, as the daughter of
                    Liam Neeson's character from the TAKEN franchise. Originally
                    from Worthington, Ohio, she dropped out of high school to move
                    to Los Angeles with her mother after her parents' divorce.
                    While struggling financially, she landed her first role as the title
                    character in the web-based video series Rachel's Room in 2001. 
                    She went on to earn aYoung Artist Award nomination in 2002
                    with her portrayal of 15-year-old murder victim Martha Moxleyin
                    the television movie MURDER IN GREENWICH. Grace won a
                    Screen Actors Guild Award, which she shared with the ensemble
                    cast of LOST, before starring opposite Tom Welling in the 2005
                    remake of THE FOG. Films that followed include the
                    aforementioned TAKEN franchise, SUBURBAN GIRL, THE JANE
                    AUSTEN BOOK CLUB, MALICE IN WONDERLAND and a recurring 
                    guest star turn on the hit Showtime television series
                    CALIFORNICATION, opposite David Duchovny.</p>
                </div>
                <div class="btn_top">
                  <span class="btn"></span>
                </div>
              </div>
              <div class="w-img w-img__landscape">
                <div class="b-img b-img__landscape" style="background-image: url('image/img/imcL.jpg');"></div>
              </div>
            </div>

            <div class="w-text hidden">
              <div class="w-img w-img__portrait">
                <img alt="img" src="image/img/imd.jpg"/>
              </div>
              <div class="w-img w-img__landscape">
                <div class="b-img b-img__landscape" style="background-image: url('image/img/imdL.jpg');"></div>
              </div>
              <div class="b-text">
                <div class="t-title">
                  <h2>brad carter</h2>
                  <h3>Billy</h3>
                </div>
                <div class="text">
                  <p>Multi-talented actor, musician and comedy writer Brad Carter
recently earned critical acclaim as incarcerated criminal
“Charlie Lange” opposite Oscar® winner Matthew McConaughey
and Oscar® nominee Woody Harrelson in the first season of the
HBO Emmy® nominated series “True Detective.” 2014 was an
exciting year as Carter additionally joined the final season of
Kurt Sutter’s critically acclaimed FX series “Sons of Anarchy” in 
the recurring role of “Leland Gruen” opposite Charlie Hunnam and
starred in SyFy’s critically acclaimed mini-series “Ascension.” 
He also starred opposite Faith Hill and Chris Zylka in the film
DIXIELAND, which premiered at the Tribeca Film Festival. This Fall
will prove to be equally as exciting, as Carter is soon to release 
his debut, self- produced studio album and will also share the
silver screen with Johnny Depp in Warner Bros suspense thriller
BLACK MASS.</p>
                </div>
                <div class="btn_top">
                  <span class="btn"></span>
                </div>
              </div>
            </div>
            <div class="w-text hidden">
              <div class="w-img w-img__portrait">
                <img alt="img" src="image/img/imi.jpg"/>
              </div>
              <div class="b-text">
                <div class="t-title">
                  <h2>LOGAN MILLER</h2>
                  <h3>Colin</h3>
                </div>
                <div class="text">
                  <p>Logan Miller has already done more than most actors twice
his age. His career started with small roles in
GHOSTS OF GIRLFRIENDS PAST opposite Matthew McConaughey
and Sofia Coppola's THE BLING RING. Those performances paved
the way to Miller’s break out performance Matt Sobel's
buzzworthy 2015 Sundance film, TAKE ME TO THE RIVER, in
which Miller plays a gay teenager forced to retreat back into
the closet when goes to visit his ultra-conservative extended
family. That same year, Miller played a supporting role in the 
ensemble hit THE STANFORD PRISON EXPERIMENT. Currently,
Logan’s work can be seen in the trailer for the Paramount
blockbuster, BOY SCOUTS GUIDE TO THE 
ZOMBIE APOCALYPSE, due October 31st of 2015.</p>
                </div>
                <div class="btn_top">
                  <span class="btn"></span>
                </div>
              </div>
              <div class="w-img w-img__landscape">
                <div class="b-img b-img__landscape" style="background-image: url('image/img/imiL.jpg');"></div>
              </div>
            </div>
            <div class="w-text hidden">
              <div class="w-img w-img__portrait">
                <img alt="img" src="image/img/imf.jpg"/>
              </div>
              <div class="w-img w-img__landscape">
                <div class="b-img b-img__landscape" style="background-image: url('image/img/imfL.jpg');"></div>
              </div>
              <div class="b-text">
                <div class="t-title">
                  <h2>BONNIE BEDELIA</h2>
                  <h3>Annabelle</h3>
                </div>
                <div class="text">
                  <p>Bonnie Bedelia began her storied acting career on the CBS
daytime soap opera, LOVE OF LIFE, before her talent vaulted
her to the top of film and an television.Bedelia was nominated
for a Golden Globe Award for her performance in the film HEART
LIKE A WHEEL, and for an Independent Spirit Award for THE
PRINCE OF PENNSYLVANIA. She is best known for her roles in the 
DIE HARD films, PRESUMED INNOCENT and NEEDFUL THINGS.
Bedelia also had many other leading and supporting roles, and
has worked regularly on television.For her television work,
Bedelia received two Emmy Awards nominations. From 2001 to
2004, Bedelia played  the lead role in the Lifetime television
drama series, THE DIVISION, and later starred as family matriarch 
Camille Braverman in the NBC drama series, PARENTHOOD.</p>
                </div>
                <div class="btn_top">
                  <span class="btn"></span>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
	  <div id="title_page"></div>
	  <div class="transition rot45deg"> 
      <div id="yellow_part" class="element">
        <div class="bg yellow"></div>
      </div>
      <div id="black_part" class="element">
        <div class="bg black"></div>
      </div>
    </div>
	  <div id='load' class='not_load'>
		  <div class="cont_load">
			  <div class='circle'></div>
			  <div class='num_load'></div>
			  <div class='text_load'>loading</div>
		  </div>
	  </div>
	  <div id='cont_menu'>
		  <div class="title_menu">
			  <div class="cont_title_menu">
				  <div class="line_menu_title">
					  <div class='line line1 slow-03'></div>
					  <div class='line line2 slow-05'></div>
					  <div class='line line3 slow-07'></div>
				  </div>
				  <div class="title_text">menu</div>
			  </div>
		  </div>
		  <div class='list_menu'>
			  <div class='close_menu'>&#10006;</div>
			  <div class="cont_list_menu">
				  <ul>
					  <li class='itm l_itm1 out'>
						  <div class='itm0'>News</div> 
						  <div class='line_menu'></div>
					  </li>
					  <li class='itm l_itm2 over'>
						  <div class='itm1'>Cast</div> 
						  <div class='line_menu'></div>
					  </li>
					  <li class='itm l_itm3'>
						  <div class='itm2'>Filmmakers</div>
						  <div class='line_menu'></div>
					  </li>
					  <li class='itm l_itm4'>
						  <div class='itm3'> Multimedia </div>
						  <div class='line_menu'></div>
					  </li>
				  </ul>
			  </div>
		  </div>
	  </div>
    <div id='main_menu'>
		  <div class="header_cont" ng-click="onMenuHeaderClick()">
        <div class='lines_cont'>
          <div class='line'></div>
          <div class='line'></div>
          <div class='line'></div>
        </div>
        <div class="haeder_label">menu</div>
		  </div>
		  <div class='menu_cont'></div>
      <div class='close_btn' ng-click="onMenuCloseClick()">&#10006;</div>
	  </div>
    <footer class="footer">
      <div class="w-share">
        <ul class="l-share">
          <li><a class="i-facebook" href="#">facebook</a></li>
          <li><a class="i-twitter" href="#">twitter</a></li>
          <li><a class="i-instagram" href="#">instagram</a></li>
          <li><a class="i-google_plus" href="#">google plus</a></li>
        </ul>
      </div>      
      <div class="w-nav">
        <ul class="l-nav">
          <li ng-repeat='page in data.pages' class='footer_menu' ng-click="change_page(page)">
					  <span>{{page.name}}</span>
				  </li>
        </ul>
      </div>
    </footer>
    <div id="preloader">
      <div class='label'>0%</div>
    </div>
    
    <div id="intro"></div>
  </body>
</html>
