<!DOCTYPE html>
<html>
  <head>
	  <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1">
    <meta content="telephone=no" name="format-detection" />
    <meta content="address=no" name="format-detection" />
	  <link rel="stylesheet" type="text/css" href="css/screen.css">
	  <script src='js/script.js'></script>
    <script src='js/lib/gs/TweenLite.min.js'></script>
    <script src='js/lib/angular/angular.min.js'></script>
    <script src='js/screen_object.js'></script>
    <script src='js/transition.js'></script>
    <script src='js/main.js'></script>
  </head>
  <body ng-app="app" ng-controller="appController" class="cast_mobile">
	  <div id='bg' class="cast_mobile"></div>
    <div class="p-title">
      <h1>CAST</h1>
    </div>
	  <div id='content'>
      <div class="w-content">
        <div class="b-content">
          <div class="b-content_inside">
            <div class="w-tab">
              <ul class="tab">
                <li><a href="#" class="active"><span>MAGIE GRACE</span></a></li>
                <li><a href="#"><span>BOB CARTER</span></a></li>
                <li><a href="#"><span>MIAKA MONROE</span></a></li>
                <li><a href="#"><span>MAGIE GRACE</span></a></li>
                <li><a href="#"><span>BOB CARTER</span></a></li>
                <li><a href="#"><span>MAGIE GRACE</span></a></li>
              </ul>
            </div>
            <div class="w-text">
              <div class="b-text">
                <div class="t-title">
                  <h2>MAGIE GRACE</h2>
                  <h3>Laurie</h3>
                </div>
                <div class="text">
                  <p>Grace was born Margaret Grace Denig in Worthington, Ohio, one of
                    threchildren of parents Valinn (née Everett) and Rick Denig, who ran
                    a family jewelry business. Her family lived in a 200-year-old house, the
                    first saltbox house in central Ohio.  She attended Worthington Christian
                    Schools from kindergarte...of parents Valinn (née Everett) and Rick Denig,
                    who ran a family jewelry business. Her family lived in a 200-year-old house,
                    the first saltbox house in central Ohio. She attended Worthington
                    Christian Schools from kindergarte...who ran a family jewelry business. Her
                    family lived in a 200-year-old house, the first saltbox house in central Ohio.
                  </p>
                </div>
              </div>
              <div class="w-img">
                <div class="b-img b-img__landscape" style="background-image: url('image/img/imaL.jpg');"></div>
                <div class="b-img b-img__portrait" style="background-image: url('image/img/ima.jpg');"></div>
              </div>
            </div>
            
            <div class="w-text hidden">
              <div class="w-img">
                <div class="b-img b-img__landscape" style="background-image: url('image/img/imbL.jpg');"></div>
                <div class="b-img b-img__portrait" style="background-image: url('image/img/imb.jpg');"></div>
              </div>
              <div class="b-text">
                <div class="t-title">
                  <h2>BRAD CARTER</h2>
                  <h3>Name</h3>
                </div>
                <div class="text">
                  <p>Brad Carter (born 1973) is an American film and television actor,
                    guitarist, painter, sculptor, and photographer, known for playing
                    Charlie Lange in True Detective and Leland Gruen in Sons of Anarchy. 
                    After suffering from brain disease and tremors that caused his hands
                    to shake, he underwent brain surgery in 2013, which he recorded and
                    posted on YouTube. The video went viral, and he became known as the
                    "guy playing guitar during brain surgery".</p>
                  <p>Brad Carter (born 1973) is an American film and television actor,
                    guitarist, painter, sculptor, and photographer, known for playing</p>
                </div>
              </div>
            </div>
            
            <div class="w-text hidden">
              <div class="b-text">
                <div class="t-title">
                  <h2>MIAKA MONROE</h2>
                  <h3>Jody</h3>
                </div>
                <div class="text">
                  <p>Maika Monroe is a professional kiteboarder turned actress who is taking
                    Hollywood by storm. Garnering comparisons to some of the top names in
                    the industry, she made her acting debut in the 2012 film AT ANY PRICE,
                    co-starring Zac Effron and Dennis Quaid. In April 2012, Monroe signed up
                    for the drama LABOR DAY, an adaptation of the hit novel, starring Josh
                    Brolin and Kate Winslet. In June 2013, she joined the cast of the 
                    psychological thriller film THE GUEST, which gained almost unprecedented
                    acclaim from audiences after playing at numerous film festivals, including
                    the prestigious Sundance Film Festival. In August 2014, she joined the alien
                    invasion thriller film THE 5TH WAVE, the first in a best-selling series of Young</p>
                </div>
              </div>
              <div class="w-img">
                <div class="b-img b-img__landscape" style="background-image: url('image/img/imcL.jpg');"></div>
                <div class="b-img b-img__portrait" style="background-image: url('image/img/imc.jpg');"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	  <div id="title_page"></div>
	  <div class="transition rot45deg"> 
      <div id="yellow_part" class="element">
        <div class="bg yellow"></div>
      </div>
      <div id="black_part" class="element">
        <div class="bg black"></div>
      </div>
    </div>
	  <div id='load' class='not_load'>
		  <div class="cont_load">
			  <div class='circle'></div>
			  <div class='num_load'></div>
			  <div class='text_load'>loading</div>
		  </div>
	  </div>
	  <div id='cont_menu'>
		  <div class="title_menu">
			  <div class="cont_title_menu">
				  <div class="line_menu_title">
					  <div class='line line1 slow-03'></div>
					  <div class='line line2 slow-05'></div>
					  <div class='line line3 slow-07'></div>
				  </div>
				  <div class="title_text">menu</div>
			  </div>
		  </div>
		  <div class='list_menu'>
			  <div class='close_menu'>&#10006;</div>
			  <div class="cont_list_menu">
				  <ul>
					  <li class='itm l_itm1 out'>
						  <div class='itm0'>News</div> 
						  <div class='line_menu'></div>
					  </li>
					  <li class='itm l_itm2 over'>
						  <div class='itm1'>Cast</div> 
						  <div class='line_menu'></div>
					  </li>
					  <li class='itm l_itm3'>
						  <div class='itm2'>Filmmakers</div>
						  <div class='line_menu'></div>
					  </li>
					  <li class='itm l_itm4'>
						  <div class='itm3'> Multimedia </div>
						  <div class='line_menu'></div>
					  </li>
				  </ul>
			  </div>
		  </div>
	  </div>
    <div id='main_menu'>
		  <div class="header_cont" ng-click="onMenuHeaderClick()">
        <div class='lines_cont'>
          <div class='line'></div>
          <div class='line'></div>
          <div class='line'></div>
        </div>
        <div class="haeder_label">menu</div>
		  </div>
		  <div class='menu_cont'></div>
      <div class='close_btn' ng-click="onMenuCloseClick()">&#10006;</div>
	  </div>
    <footer class="footer">
      <div class="w-share">
        <ul class="l-share">
          <li><a class="i-facebook" href="#">facebook</a></li>
          <li><a class="i-twitter" href="#">twitter</a></li>
          <li><a class="i-instagram" href="#">instagram</a></li>
          <li><a class="i-google_plus" href="#">google plus</a></li>
        </ul>
      </div>      
      <div class="w-nav">
        <ul class="l-nav">
          <li ng-repeat='page in data.pages' class='footer_menu' ng-click="change_page(page)">
					  <span>{{page.name}}</span>
				  </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
