<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1">
    <meta content="telephone=no" name="format-detection" />
    <meta content="address=no" name="format-detection" />
	<link rel="stylesheet" type="text/css" href="css/screen.css">
	<script src='js/script.js'></script>
	<script src='js/lib/gs/TweenLite.min.js'></script>
	<script src='js/lib/angular/angular.min.js'></script>
    <script src='js/screen_object.js'></script>
    <script src='js/transition.js'></script>
    <script src='js/main.js'></script>
</head>
<body ng-app="app" ng-controller="appController">
	<div id='bg' class="home"></div>

	  <div id='content' ></div>
	  <div id="title_page"></div>
	<div class="transition rot45deg">
        <div id="yellow_part" class="element">
            <div class="bg yellow"></div>
        </div>
        <div id="black_part" class="element">
            <div class="bg black"></div>
        </div>
    </div>

	<div id='load' class='not_load'>
		<div class="cont_load">
			<div class='circle'></div>
			<div class='num_load'></div>
			<div class='text_load'>loading</div>
		</div>
	</div>
	<div id='main_menu'>
		<div class="header_cont" ng-click="onMenuHeaderClick()">
            <div class='lines_cont'>
                <div class='line'></div>
                <div class='line'></div>
                <div class='line'></div>
            </div>
            <div class="haeder_label">menu</div>
		</div>
		<div class='menu_cont'>
		</div>
        
        <div class='close_btn' ng-click="onMenuCloseClick()">&#10006;</div>
	</div>

</body>
</html>
