<!DOCTYPE html>
<html ng-app="app" ng-controller="appController">
<head>
    <title>Scent of Rain and Lightning</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="address=no" name="format-detection" />
    <link rel="stylesheet" type="text/css" href="css/screen.css">
    <script src='js/lib/angular/angular.min.js'></script>
    <script src='js/lib/angular/angular-sanitize.min.js'></script>
    <script src='js/lib/iscroll/iscroll.js'></script>
    <script src='https://www.youtube.com/iframe_api'></script>
    <script src='js/squary.js'></script>
    <script src='js/script.js'></script>
    <script src='js/lib/gs/TweenLite.min.js'></script>
    <script src='js/lib/f.js'></script>
    <script src='js/lib/dom.js'></script>
    <script src='js/screen_object.js'></script>
    <script src='js/preloader.js'></script>
    <script src='js/particles.js'></script>
    <script src='js/intro_text.js'></script>
    <script src='js/text_animator.js'></script>
    <script src='js/news_popup.js'></script>
    <script src='js/photo_popup.js'></script>
    <script src='js/video_popup.js'></script>
    <script src='js/background.js'></script>
    <script src='js/animated_background.js'></script>
    <script src='js/transition.js'></script>
    <script src='js/main.js'></script>
    <script src='js/main_mobile.js'></script>
</head>

<body
    ng-class="{mobile: state.mobile_style, home: state.selectedPage == 'home', cast: state.selectedPage == 'cast', news: state.selectedPage == 'news', makers: state.selectedPage == 'makers', media: state.selectedPage == 'media', tablet: state.tablet}">

    <div id='bg' class="home" ></div>
    
    <div id='anim_bg' ng-hide='state.mobile_style'></div>

    <a id="top" name="top" ng-show='state.mobile_style'></a>

    <div class="p-title" ng-if='state.mobile_style' ng-hide='state.selectedPage == "home" || state.selectedPage == "intro"'>
        <h1>{{nameToChange}}</h1>
    </div>

    <div id='content' ng-switch="state.selectedPage" ng-if='!state.mobile_style ' ng-controller="desktopController">
        <div id="intro" ng-switch-when="intro" class="page" ng-controller="introController">
            <div id="intro_bg"></div>
            <canvas class="screen" tap="skip_intro()"></canvas>
        </div>
        
        <div id="home" ng-switch-when="home" class="page" ng-class="{selected: state.selectedPage == 'home'}" ng-controller="homeController">            

            <canvas class="particles"></canvas>
            <canvas class="screen"></canvas>
            <div class="slogan">In a small town, there are supposed to be no secrets</div>
            <div id='side_page_right'>
              <div class='cont_rhom_right'></div>
            </div>
            <div id='side_page_left'>
            </div>
        </div>
        
        <div id="news" ng-switch-when="news" class="page" ng-controller="mediaController">
            <div class="b-content">
                <div class="b-content_inside">
                    <div class="w-tab bottom">
                        <ul class="tab" >
                            <li ng-repeat="itm in state.selectedPageData.types" tap="typeMenuClick(itm)" on-complete on-complete-callback="animateMenuItems()">
                                <a href="#" ng-class="{active: selectedType.type == itm.type}">
                                    <span>{{itm.label}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="w-news">
                        <div class="b-news">
                            <div class="scrollCont">
                                <div class="newsCont">
                                    <div class="i-news" ng-repeat="item in selectedType.items track by no_cache()" animate-alpha-shift-x shift="15" delay="$index*0.1">
                                        <div class="i-news__content" id="news{{item.id}}">
                                            <div class="img" animate-image-load duration="1" img-url="item.img">
                                                <img alt="img"/>
                                            </div>
                                            <div class="news">
                                                <h3>{{item.short_desc}}</h3>
                                                <div class="w-time"><span class="time">{{item.date}}</span></div>
                                                <p>{{item.full_desc}}</p>
                                                <a class="btn" href="#" tap="showNewsPopup(item)">read all</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup news">
                <div class="popup_semitransparent_bg" tap="closePopup()"></div>
                <div class="popup_bg"></div>
                <div class="popup_img_cont">
                    <img class="popup_preloader" src='image/preloader.gif'/>
                    <img class="popup_img"/>
                </div>
                <div class="popup_content">
                    <h3 class="title"></h3>
                    <h5 class="date"></h5>
                    <div class="scroll_cont">
                        <div class="text_cont"></div>
                    </div>
                    <div class='icons'>
                        <div class='ico fb'></div>
                        <div class='ico twitter'></div>
                        <div class='ico ln'></div>
                        <div class='ico gp'></div>
                    </div>
                </div>
                <div class='close_btn' tap="closePopup()" >&#10006;</div>
            </div>
        </div>
        
        <div id="media" ng-switch-when="media" class="page" ng-controller="mediaController">
            <div class="b-content">
                <div class="b-content_inside">
                    <div class="w-tab  bottom">
                        <ul class="tab">
                            <li ng-repeat="item in state.selectedPageData.types track by $index" on-complete on-complete-callback="animateMenuItems()">
                                <a href="#" ng-click="typeMenuClick(item)" ng-class="{active: selectedType.type == item.type}"><span>{{item.label}}</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="w-photo">
                        <div class="b-photo">
                            <div class="scrollCont">
                                <div class="mediaCont">
                                    <div ng-switch="selectedType.type">
                                        <div ng-switch-when="photo" class="i-photo__group" ng-repeat="group in selectedType.items track by no_cache()" animate-alpha-shift-x shift="15" delay="$index*0.1">
                                            <div ng-repeat="item in group track by $index" class="i-photo" ng-class="{'i-photo__xx': $even, 'i-photo__x': $odd}" id="photo{{item.id}}" tap="showPhotoPopup(item)">
                                                <div class="img" animate-image-load duration="1" img-url="item.src">
                                                    <img alt="img" />
                                                </div>
                                                <div class="w-share">
                                                    <div class="b-share">
                                                        <ul class="l-share">
                                                            <li><a href="#" class="i-plus" ></a></li>
                                                            <li><a href="#" class="i-like"></a></li>
                                                            <li ng-repeat="link in item.links"><a ng-href="{{link.href}}" class="{{link.type}}"></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div ng-switch-when="video" class="i-video__group" ng-repeat="group in selectedType.items track by no_cache()" animate-alpha-shift-x shift="15" delay="$index*0.1">
                                            <div class="i-video" ng-repeat="item in group track by $index" animate-image-load duration="1" img-url="item.src" id="video{{item.id}}">
                                                <a href="#" tap="showVideoPopup(item)">
                                                    <img alt="img"/>
                                                    <span class="text">{{item.desc}}</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup photo">
                <div class="popup_semitransparent_bg" ng-click="closePopup()"></div>
                <div class="popup_bg"></div>
                <div class="popup_img_cont">
                    <img class="popup_preloader" src='image/preloader.gif'/>
                    <img class="popup_img"/>
                </div>
                <div class='close_btn' ng-click="closePopup()" >&#10006;</div>
            </div>
            <div class="popup video">
                <div class="popup_semitransparent_bg" ng-click="closePopup()"></div>
                <div class="popup_bg"></div>
                <div class="video_cont">
                    <img class="popup_preloader" src='image/black_preloader.gif'/>
                    <div class='player'></div>
                </div>
                <div class="video_desc">
                    <h3 class="title"></h3>
                    <span class='views'>1223</span><span class='likes'>47</span>
                </div>
                <div class="video_list">
                    <h3 class="title">NEXT VIDEO</h3>
                    <div class="video_list_scroll">
                        <div class="video_list_cont" style="height: {{selectedType.all_items.length*120}}px">
                            <div class="video_item" ng-repeat="item in selectedType.all_items">
                                <div class="video_img" animate-image-load duration="1" img-url="item.src" img-w="216" img-h="112">
                                    <img tap="reloadVideoPopup(item)" />
                                </div>
                                <div class="desc">
                                    <div class="title" tap="reloadVideoPopup(item)">{{item.desc}}</div>
                                    <div class="date">{{item.duration}}</div>
                                    <div>
                                        <span class='views'>323</span><span class='likes'>47</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='close_btn' ng-click="closePopup()" >&#10006;</div>
            </div>
        </div>

        <div id="cast" ng-switch-when="cast" class="page w-content" ng-controller="contentController">
            <div class="b-content">
                <div class="b-content_inside">
                    <div class="w-tab">
                        <ul class="tab">
                            <li ng-repeat="page in state.selectedPageData.pages" on-complete on-complete-callback="animateMenuItems()">
                                <a href="#" tap="subMenuClick(page)" ng-class="{active: page == selectedItem}"><span ng-bind-html="page.title | unsafe"></span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="w-text">
                        <div class="b-text">
                            <div class="t-title">
                                <h2 animate-text text="selectedItem.name" duration="1"></h2>
                                <h3 animate-text text="selectedItem.role" duration="1" delay="0"></h3>
                            </div>
                            <div class="text">
                                <div animate-text text="selectedItem.desc" text-animation-finished="refresh_scroll()" duration="2" delay="0"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="makers" ng-switch-when="makers" class="page w-content" ng-controller="contentController">
            <div class="b-content">
                <div class="b-content_inside">
                    <div class="w-tab">
                        <ul class="tab">
                            <li ng-repeat="page in state.selectedPageData.pages" on-complete on-complete-callback="animateMenuItems()">
                                <a href="#" tap="subMenuClick(page)" ng-class="{active: page == selectedItem}"><span ng-bind-html="page.title | unsafe"></span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="w-text">
                        <div class="img"></div>
                        <div class="b-text">
                            <div class="t-title">
                                <h2 animate-text text="selectedItem.name" duration="2"></h2>
                                <h3 animate-text text="selectedItem.role" duration="2" delay="0"></h3>
                            </div>
                            <div class="text">
                                <p animate-text text="selectedItem.desc" text-animation-finished="refresh_scroll()" duration="2" delay="0"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id='content' ng-switch="state.selectedPage" ng-if='state.mobile_style' ng-controller="mobileController">
        <div id="intro" ng-switch-when="intro" class="page" ng-controller="mobileIntroController">
            <div id="intro_bg"></div>
            <canvas class="screen mobile_intro" tap="skip_intro()" class='mobile_intro'></canvas>
        </div>
        
        <div id="home" ng-switch-when="home" ng-if='!state.tablet' class="page mobile_home" ng-class="{selected: state.selectedPage == 'home'}" ng-controller="mobileHomeController">
            <div class="bg_mobile"></div>
            <canvas class="particles"></canvas>
            <canvas class="screen mobile_intro"></canvas>
            <div id='side_page_right' ng-class='{mobile_squary: !state.tablet}'>
              <div class='cont_rhom_right'></div>
              <div class="btn_top" ng-if='!state.tablet' tap='goScroll("top")'>
                  <span class="btn"></span>
              </div>
            </div>
            <div id='side_page_left' ng-hide="!state.tablet">
            </div>
        </div>

        <div id="home" ng-switch-when="home" ng-if='state.tablet' class="page mobile_home" ng-class="{selected: state.selectedPage == 'home'}" ng-controller="mobileTabletHomeController">
            <div class="bg_mobile"></div>
            <canvas class="particles"></canvas>
            <canvas class="screen mobile_intro"></canvas>
            <div class="slogan">In a small town, there are supposed to be no secrets</div>
            <div id='side_page_right' ng-class='{mobile_squary: !state.tablet}'>
              <div class='cont_rhom_right'></div>
            </div>
            <div id='side_page_left'></div>
        </div>
        
        <div id="news" ng-switch-when="news" class="page" ng-controller="mobileMediaController">
            <div class="b-content">
                <div class="b-content_inside">
                    <div class="w-tab">
                        <ul class="tab">
                            <li ng-repeat="itm in state.selectedPageData.types" tap="typeMenuClick(itm)">
                                <a href="#" ng-class="{active: selectedType.type == itm.type}">
                                    <span>{{itm.label}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="w-news">
                        <div class="b-news">
                            <div id='itm{{item.id}}' class="i-news" ng-repeat="item in selectedType.items track by $index" ng-class='{read: item.read}'>
                                <div class="i-news__content">
                                    <div class="img">
                                        <img alt="img" ng-src="{{item.img}}"/>
                                    </div>
                                    <div class="news">
                                        <h3>{{item.short_desc}}</h3>
                                        <div class="w-time"><span class="time">{{item.date}}</span></div>
                                        <p>{{item.full_desc}}</p>
                                        <a class="btn all" href="#" tap='read_all(item)'>read all</a>
                                        <a class="btn close" href="#" tap='close_all(item)'>close</a>
                                        <a class="btn close_1" href="#" tap='close_all(item)'>+</a>
                                    </div>
                                </div>
                                <div class="btn_top" tap='goScroll("top")'>
                                    <span class="btn"></span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="media" ng-switch-when="media" class="page" ng-controller="mobileMediaController">
            <div class="b-content">
                <div class="b-content_inside">
                    <div class="w-tab">
                      <ul class="tab">
                        <li ng-repeat="itm in state.selectedPageData.types track by $index">
                            <a href="#" tap="typeMenuClick(itm)" ng-class="{active: selectedType.type == itm.type}"><span>{{itm.label}}</span></a>
                        </li>
                       </ul>
                    </div>
                    <div class="w-photo">
                        <div class="b-photo">
                            <div ng-switch="selectedType.type">
                                <div ng-switch-when="photo" class="i-photo__group" ng-repeat="group in selectedType.items track by $index">
                                    <div tap="showPictureWindow(item.src_big)" ng-repeat="item in group track by $index" class="i-photo" ng-class="{'i-photo__xx': $even, 'i-photo__x': $odd}">
                                        <div class="img">
                                            <img alt="img" ng-src="{{item.src}}"/>
                                        </div>
                                        <div class="w-share">
                                            <div class="b-share">
                                                <ul class="l-share">
                                                    <li><a href="#" class="i-plus"></a></li>
                                                    <li><a href="#" class="i-like"></a></li>
                                                    <li ng-repeat="link in item.links"><a ng-href="{{link.href}}" class="{{link.type}}"></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div ng-switch-when="video" class="i-video__group" ng-repeat="group in selectedType.items track by $index">
                                    <div class="i-video" ng-repeat="item in group track by $index">
                                        <a ng-href="{{item.href}}" target="_blank">
                                            <img alt="img" ng-src="{{item.src}}"/>
                                            <span class="text">{{item.desc}}</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="btn_top" tap='goScroll("top")'>
                                    <span class="btn"></span>
                                </div>
                            </div>
                        </div>
                    </div>            
                </div>
            </div>
        </div>

        <div id="cast" ng-switch-when="cast" class="page w-content" ng-controller="mobileContentController"> 
            <div class="w-content">
                <div class="b-content">
                    <div class="b-content_inside">
                        <div class="w-tab">
                            <ul class="tab">
                                <li ng-repeat="page in state.selectedPageData.pages">
                                    <a href='' tap='goScroll(page.role)' ng-class="{active: page == selectedItem}" >
                                        <span ng-bind-html="page.title | unsafe"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="w-text" ng-repeat="selectedItem in state.selectedPageData.pages">
                            <a id="{{selectedItem.role}}"></a>
                            <div class="w-img w-img__portrait">
                                <img alt="img" ng-src="{{selectedItem.img_port}}"/>
                            </div>
                            <div class="w-img w-img__landscape" ng-if='$index%2 == 1'>
                                <div class="b-img b-img__landscape" style="background-image: url('{{selectedItem.img_land}}');"></div>
                            </div>
                            <div class="b-text">
                                <div class="t-title">
                                    <h2 ng-bind-html="selectedItem.name | unsafe"></h2>
                                    <h3 ng-bind-html="selectedItem.role | unsafe"></h3>
                                </div>
                                <div class="text">
                                    <p>{{selectedItem.desc}}</p>
                                </div>
                                <div class="btn_top" tap='goScroll("top")'>
                                    <span class="btn"></span>
                                </div>
                            </div>
                            <div class="w-img w-img__landscape" ng-if='$index%2 == 0'>
                                <div class="b-img b-img__landscape" style="background-image: url('{{selectedItem.img_land}}');"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="makers" ng-switch-when="makers" class="page w-content" ng-controller="mobileContentController">
            <div class="b-content">
                <div class="b-content_inside">
                    <div class="w-tab">
                        <ul class="tab">                
                            <li ng-repeat="page in state.selectedPageData.pages">
                                <a tap='goScroll(page.role)' ng-class="{active: page == selectedItem}">
                                    <span ng-bind-html="page.title | unsafe"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="w-text" ng-repeat="selectedMaker in state.selectedPageData.pages">
                        <a id="{{selectedMaker.role}}"></a>
                        <div class="w-img w-img__portrait">
                            <img alt="img" ng-src="{{selectedMaker.img_port}}"/>
                        </div>
                        <div class="w-img w-img__landscape" ng-if='$index%2 == 1'>
                            <div class="b-img b-img__landscape" style="background-image: url('{{selectedMaker.img_land}}');"></div>
                        </div>
                        <div class="b-text">
                            <div class="t-title">
                                <h2 ng-bind-html="selectedMaker.name | unsafe">{{selectedMaker.name}}</h2>
                                <h3 ng-bind-html="selectedMaker.role | unsafe">{{selectedMaker.role}}</h3>
                            </div>
                            <div class="text">
                                <p>{{selectedMaker.desc}}</p>
                            </div>
                            <div class="btn_top" tap='goScroll("top")'>
                                <span class="btn"></span>
                            </div>
                        </div>
                        <div class="w-img w-img__landscape" ng-if='$index%2 == 0'>
                            <div class="b-img b-img__landscape" style="background-image: url('{{selectedMaker.img_land}}');"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="title_page"></div>

    <div class="footer" ng-show="state.interfaceVisible" ng-class='{footer_tablet:state.tablet}'>
        <div class="w-share">
            <ul class="l-share">
                <li><a class="i-facebook" href="#">facebook</a></li>
                <li><a class="i-twitter" href="#">twitter</a></li>
                <li><a class="i-instagram" href="#">instagram</a></li>
                <li><a class="i-google_plus" href="#">google plus</a></li>
            </ul>
        </div>
        <div class="w-nav">
            <ul class="l-nav">
                <li ng-repeat='page in state.data.pages' class='footer_menu' ng-show="state.selectedPage != page.page" ng-click="change_page(page)">
                    <span>{{page.name}}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class='maska_menu'>
        <div class="transition rot45deg" ng-class='{mobile_transition: state.mobile_style}' ng-show="state.interfaceVisible">
            <div id="yellow_part" class="element">
                <div class="bg yellow"></div>
            </div>
            <div id="black_part" class="element">
                <div class="bg black"></div>
            </div>
        </div>
    </div>
    <div id='main_menu' ng-class='{mobile_menu: state.mobile_style}' ng-show="state.interfaceVisible">
        <div class="header_cont" tap="onMenuHeaderClick()">
            <div class='lines_cont'>
                <div class='line'></div>
                <div class='line'></div>
                <div class='line'></div>
            </div>
            <div class="haeder_label" ng-hide='state.mobile_style'>menu</div>
        </div>
        <div class='menu_cont'></div>
        <div class='close_btn' tap="onMenuCloseClick()" >&#10006;</div>
    </div>


    <div id="preloader" ng-class='{mobile_preloader: state.mobile_style}'>
        <div class='label'>0%</div>
    </div>

</body>
</html>

