//$experimental-support-for-svg: true;

@import "compass/css3/images";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/opacity";
@import "compass/css3/background-size";
@import "compass/css3/user-interface";
@import "compass/css3/border-radius";
@import "compass/typography/text/ellipsis";
@import "compass/utilities/sprites/base";
@import "compass/css3/transition";
@import "compass/css3/transform";

//width
$width_content  : 100%;

//fonts
$scadaR  : 'scadaregular';
$scadaB  : 'scadabold';
$scadaBI : 'scadabold_italic';
$scadaI  : 'scadaitalic';
//$icons: sprite-map("smart_sprite/*.png", $layout: 'smart');

$icons_x2: sprite-map("icon_x2/*.png", $layout: 'smart');

$retina-media: "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio : 1.5)";

$mediaA   : "only screen and (max-width: 1920px)";
$madiaB   : "only screen and (max-width: 1200px)";
$mediaC   : "only screen and (max-width: 1050px)";
$mediaCP  : "only screen and (max-width: 1050px) and (orientation : portrait)";
$mediaCL  : "only screen and (max-width : 1050px) and (orientation : landscape)";
$media830 : "only screen and (max-width: 830px)";
$media690 : "only screen and (max-width: 690px)";
$mediaD   : "only screen and (max-width: 640px)";
$mediaDP  : "only screen and (max-width: 640px)  and (orientation : portrait)";
$mediaDL  : "only screen and (max-width: 640px)  and (orientation : landscape)";
$mediaE   : "only screen and (max-width: 480px)";