@font-face {
  font-family: 'scadaregular';
  src: url('../fonts/scada-webfont.eot');
  src: url('../fonts/scada-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/scada-webfont.woff2') format('woff2'),
  url('../fonts/scada-webfont.woff') format('woff'),
  url('../fonts/scada-webfont.ttf') format('truetype'),
  url('../fonts/scada-webfont.svg#scadaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'scadabold';
  src: url('../fonts/scada_bold-webfont.eot');
  src: url('../fonts/scada_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/scada_bold-webfont.woff2') format('woff2'),
  url('../fonts/scada_bold-webfont.woff') format('woff'),
  url('../fonts/scada_bold-webfont.ttf') format('truetype'),
  url('../fonts/scada_bold-webfont.svg#scadabold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'scadabold_italic';
  src: url('../fonts/scada_bold_italic-webfont.eot');
  src: url('../fonts/scada_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/scada_bold_italic-webfont.woff2') format('woff2'),
  url('../fonts/scada_bold_italic-webfont.woff') format('woff'),
  url('../fonts/scada_bold_italic-webfont.ttf') format('truetype'),
  url('../fonts/scada_bold_italic-webfont.svg#scadabold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'scadaitalic';
  src: url('../fonts/scada_italic-webfont.eot');
  src: url('../fonts/scada_italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/scada_italic-webfont.woff2') format('woff2'),
  url('../fonts/scada_italic-webfont.woff') format('woff'),
  url('../fonts/scada_italic-webfont.ttf') format('truetype'),
  url('../fonts/scada_italic-webfont.svg#scadaitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html {
   -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

html, body {
  height: 100%;
}

body {
  position: relative;
}

.p-title {
  margin: 0 0 80px 0;
  position: absolute;
  top: 146px;

  
  h1 {
    font-family: $scadaR;
    font-size: 136px;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 142px;
    overflow: hidden;
    // text-overflow: clip;
    width: 100%;
    text-overflow: clip;
  }
}

.btn_top {
  text-align: center;
  display: none;
  cursor: pointer;
  
  .btn {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    @include oneline-sprite($icons_x2, icon_top, $retina: true);
  }
}

#content {
  height: 100%;
  width: 100%;
  display: table;
  vertical-align: middle;

  .selected {
    vertical-align: middle;
  }
}

.w-content {
  display: table-cell;
  vertical-align: middle;
}

.b-content {
  //width: 60.8%;
  float: right;
  padding: 0 120px 0 0;
  @include box-sizing(border-box);

  ul {
    list-style: none;
  }
}

.b-img {
  display: none;
}

.w-img  {
  display: none;
}

.b-content_inside {
  display: table;

  .w-tab,
  .w-text,
  .w-video,
  .w-photo {
    display: table-cell;
    vertical-align: top;

    
  }
}

.w-tab {
  min-height: 416px;
  min-width: 210px;
  padding: 0 14px 0 14px;

  &.bottom {
    vertical-align: middle;
  }

  
  .tab {
    max-width: 214px;
  }
  
  li {
    margin: 0 0 2px 0;
  }
  
  a {
    font-family: $scadaR;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px 10px 8px 20px;
    line-height: 30px;
    display: block;
    color: #fff;
    margin: 0 10px 0 0;
    position: relative;
    @include border-radius(3px);
    @include transition(background-color 300ms);
    
    &:before {
      @include pseudo-block($top: 50%, $right: -10px);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 0 10px 10px;
      border-color: transparent transparent transparent #000000;
      margin-top: -10px;
      opacity: 0;
      @include transition(opacity 300ms);
    }
    
    &:hover, &.active {
      background: #000;
      color: #ffd800;

      &:before {
        opacity: 1;
      }
    }
  }
}

.w-photo,
.w-video,
.w-news{
  border-left: 2px solid #fff;
  margin: 0;
  padding: 0 0 0 18px;
}

.w-text {
  color: #fff;
  border-left: 2px solid #fff;
  margin: 0;
  padding: 0 0 0 18px;

  &.hidden {
    display: none;
  }
  
  .t-title {
    margin: 0 0 46px 0;
  }
  
  h2 {
    font-family: $scadaR;
    font-size: 52px;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 52px;
  }

  h3 {
    font-family: $scadaI;
    font-size: 24px;
    font-weight: normal;
  }

  p {
    font-family: $scadaR;
    font-size: 18px;
    line-height: 28px;
  }
  .b-text {
    .text {
        overflow: hidden;
        font-size: 18px;
        line-height: 28px;
        
        a {
            color: #ffffff;
        }
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
  padding: 12px 0;

  ul {
    list-style: none;
    display: block;
    clear: both;
    overflow: hidden;
  }

  li {
    display: block;
    float: left;
  }

  .w-share,
  .w-nav {
    display: inline-block;
    vertical-align: top;
  }

  .l-nav {
    span {
      font-family: $scadaB;
      font-size: 14px;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      line-height: 22px;

      &:hover {
        text-decoration: underline;
      }
    }

    li {
      margin: 0 34px 0 0;
    }
  }

  .l-share {
    margin: 0 30px 0 0;
    a {
      @include hide-text();
      outline: none;
      display: block;
      width: 21px;
      height: 21px;
      @include transition(opacity 300ms);

      &:hover {
        @include opacity(0.8);
      }
    }

    li {
      margin: 1px 20px 0 0;
    }
  }

  .i-facebook {
    @include oneline-sprite($icons_x2, facebook, $retina: true);
  }

  .i-twitter {
    @include oneline-sprite($icons_x2, twitter, $retina: true);
  }

  .i-instagram {
    @include oneline-sprite($icons_x2, instagram, $retina: true);
  }

  .i-google_plus {
    @include oneline-sprite($icons_x2, google_plus, $retina: true);
  }
}

.i-photo__group {
  float: left;
  margin: 0 10px 0 0;
}

.i-photo {
  position: relative;
  &:hover {
    .w-share {
      display: block;
      opacity: 1;
    }
  }
  
  img {
    display: block;
    width: 100%;
    overflow: hidden;
    background-color: #ffffff
  }
  
  &.i-photo__x {}

  &:first-child {
    margin: 0 0 10px 0;
  }

  .w-share {
    background: rgba(#ffd800, 0.8);
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    //    display: none;
    opacity: 0;
    @include transition(opacity 300ms);
  }

  .b-share {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 228px;
    height: 120px;
    margin-left: -114px;
    margin-top: -60px;
  }

  .l-share {
    display: block;
  }

  a {
    display: block;
    width: 28px;
    height: 28px;
    @include transition(opacity 300ms);
    &:hover {
      opacity: 0.8;
    }
  }

  li {
    float: left;
    padding: 16px 24px;
    @include user-select(none);

    &:nth-child(3n){
      
    }
  }

  .i-plus {
    @include oneline-sprite($icons_x2, plusB, $retina: true);
  }

  .i-like {
    @include oneline-sprite($icons_x2, likeB, $retina: true);
  }
  
  .i-twett {
    @include oneline-sprite($icons_x2, twitterB, $retina: true);
  }

  .i-facebook {
    @include oneline-sprite($icons_x2, facebookB, $retina: true);
  }

  .i-instagram {
    @include oneline-sprite($icons_x2, instagramB, $retina: true);
  }

  .i-pinterest {
    @include oneline-sprite($icons_x2, pinterestB, $retina: true);
  }

  .i-google_plus {
    @include oneline-sprite($icons_x2, googlePlusB, $retina: true);
  }
}

.i-video__group {
  float: left;
  margin: 0 10px 0 0;

  .i-video {
    &:first-child {
      margin-bottom: 10px;
    }
  }
}

.i-video {
  a {
    display: block;
    position: relative;

    &:before {
      @include pseudo-block($top: 50%, $left: 50%);
      @include oneline-sprite($icons_x2, video, $retina: true);
      width: 86px;
      height: 86px;
      margin-left: -43px;
      margin-top: -68px;
    }
  }

  img {
    display: block;
    width: 100%;
  }

  .text {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(#000, 0.6);
    color: #fff;
    text-transform: uppercase;
    line-height: 20px;
    padding: 20px;
    margin: 0;
  }
}

.b-news {
  clear: both;
  overflow: hidden;
}

.i-news {
  padding: 0;
  margin: 0 10px 0 0;
  width: 448px;
  position: relative;
  float: left;

  .i-news__content {
    padding: 0 0 200px 0;
    
    .img {
      overflow: hidden;
      width: 100%;
      // height: 286px;
      background-color: #ffffff;
    }
    .btn {
      text-transform: uppercase;
      display: block;
      vertical-align: top;
      position: absolute;
      color: #000;
      text-transform: uppercase;
      text-decoration: none;
      padding: 6px 26px;
      line-height: 28px;
      background: #ffd800;
      bottom: 30px;
      @include transition(opacity 300ms);
      cursor:pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .w-time {
    font-size: 20px;
    line-height: 28px;
    margin: 0 0 20px 0;
    display: none;

    .time {
      display: block;
      color: #ffd800;
    }
  }
  
  .news {
    background: #000;
    position: absolute;
    // bottom: 0;
    height: 200px;
    padding: 26px 26px 80px;
    box-sizing: border-box;
    left: 0;
    right: 0;
    font-size: 24px;
    line-height: 28px;

    &:before {
      @include pseudo-block($top: -10px, $left: 50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 15px 14px 15px;
      border-color: transparent transparent #000000 transparent;
      margin-left: -15px;
    }

    h3 {
      text-transform: uppercase;
      color: #fff;
      font-weight: normal;
      margin: 0 0 8px 0;
      font-size: 24px;
      line-height: 28px;
    }

    p {
      display: none;
    }
  }

  &:nth-child(even) {
    

    .i-news__content {
      padding: 200px 0 0 0;
    }
    
    .news {
      top: 0;
      bottom: auto;
      &:before {
        border-width: 14px 15px 0 15px;
        border-color: #000000 transparent transparent transparent;
        bottom: -14px;
        top: auto;
      }
    }
  }
  
  img {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  
}

.b-photo,
.b-video,
.b-news {
  .btn_top {
    display: none;
    clear: both;
    overflow: hidden;
  }
}

@media #{$mediaC} {

  .i-video__group {
    margin: 0;
    width: 100%;
    .i-video {
      width: 50%;
      float: left;
      padding: 0 5px;
      @include box-sizing(border-box);
    }
  }
  body.cast,
  body.makers  {
    .p-title{
      padding-top: 100px;
      padding-left:90px;
      margin-bottom: 40px;
      h1{
        font-size: 80px;
        line-height: 80px;
      }
    }
  }
  body.news,
  body.media{
    .p-title{
      padding-top: 110px;
      padding-left:30px;
      margin-bottom: 20px;
      h1{
        font-size: 80px;
        line-height: 80px;
      }
    }
  }
  
  .b-video {
    margin: 0;
  }

  .i-video {
    .text {
      @include ellipsis(ellipsis);
    }
  }

  .i-news {
    padding: 5px 5px;
    margin: 0;
    width: 50%;
    @include box-sizing(border-box);

    .news {
      margin: 0 5px;
      //height: auto;
    }

    &:nth-child(even) {
      .news {
        margin: 5px 5px 0;
      }
    }
  }
  
  #content {
    ////
    //    background: red;
    ////
    #news.selected,#media.selected {
      display: block !important;
      margin: 0 auto;
    }
  }

  .w-photo,
  .w-video,
  .w-news {
    border-left: none;
    
  }
  #news,  
  #media{
    .w-tab {
      padding: 0 10px;
      margin: 0 0 10px 0;
      text-align: left;
      
      .tab {
        padding: 0;
        display: inline-block;
        vertical-align: top;
      }
      
      li {
        width: auto;
        padding: 0 5px;
        margin: 0 0 10px 0;
        min-width: 120px;
        float: left;
      }
      
      a, span {
        @include transform(skewX(0));
      }

      a {
        padding: 5px 10px;
        @include border-radius(3px);
        position: relative;
        background: transparent;
        color: #fff;
        
        &:hover,
        &.active {
          background: #000;
          color: #ffd800;

          &:before {
            @include pseudo-block($top: auto, $left: 50%, $bottom: -10px, $right: auto);
            display: block !important;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 9px 0 9px;
            border-color: #000 transparent transparent transparent;
            opacity: 1;
            margin-top: 0;
            margin-left: -9px;
          }
        }
      }

      span {}
    }

    // max-width: 800px;
  }

  #makers,  
  #cast {
    .w-tab {
      padding: 0 5px;
      margin: 0 0 90px 0;
      text-align: center;
    }
  }

  .b-photo,
  .b-video,
  .b-news {
    clear: both;
    overflow: hidden;

    .btn_top {
      padding: 20px 0;
      display: block;
      text-align: center;
    }
  }

  .i-photo__group {
    width: 50%;
    margin: 0 0 10px;
    padding: 0 5px;
    @include box-sizing(border-box);
  }

  .b-content_inside {
    .w-photo,
    .w-news {
      display: block;
      padding: 10px;
      margin: 0 auto;
    }

    
    
    .w-video {
      margin: 0;
      display: block;
      padding: 0;
    }
  }
}

@media #{$mediaCP, $mediaD, $mediaCL} {
  .footer {
    background: #000;
  }
  #cast,
  #makers{
    .w-tab{
      margin: 0 0 35px 0 !important;
    }
  }
}

@media #{$mediaCL} {

  #cast_mobile {
    background-image: none;
  }
  .w-content {
    vertical-align: bottom;
    //margin-bottom: 40px;
    //padding-bottom: 12%;
  }
  
  .w-tab {
    min-width: 186px;
    .tab {
      max-width: 186px;
    }

    a {
      font-size: 20px;
      padding-top: 4px;
      padding-left: 14px;
      padding-bottom: 4px;
    }
  }

  .w-text {
    h2 {
      font-size: 40px;
      line-height: 38px;
    }

    h3 {
      font-size: 20px;
    }

    p {
      font-size: 14px;
      line-height: 18px;
    }
    
    .t-title {
      margin-bottom: 20px;
    }
  }

  .b-content {
    padding-right: 20px;
  }

  .b-content_inside {
    .w-tab,
    .w-text {
      
    }
  }
}

@media #{$mediaCP, $mediaDL, $mediaCL} {
  #cont_menu, #main_menu, 
  .transition.mobile_transition {
    position: absolute !important;
  }
  .btn_top {
    display: block;
  }

  .w-tab {
    .tab {
      max-width: none;
    }
  }
  
  #bg {
    display: none;
  }

  body {
    background-color: #000;
    background-position: 50% 0;
    background-repeat: no-repeat;
    @include background-size(100% auto);
  }
  
  .p-title {
    position: static;

    h1 {
      font-size: 100px;
    }
  }

  #content {
    display: block;
  }

  .w-content {
    display: block;
    vertical-align: top;
  }

  .b-content {
    float: none;
    padding: 0;
  }
  
  .b-content_inside {
    display: block;

    .w-tab {
      display: block;
    }

    .w-text {
      display: block;
    }
  }

  .w-tab {
    min-height: 0;
    min-width: 0;
    padding: 0 30px;
    margin-bottom: 30px;

    .tab {
      clear: both;
      overflow: hidden;
      padding: 0 20px;
    }

    li {
      float: left;
      width: 50%;
      @include box-sizing(border-box);
      padding: 0 10px 12px;
      margin: 0;
    }

    a {
      text-align: center;
      background: #000;
      margin: 0;
      @include transform(skewX(-45deg));
      @include border-radius(0);
      &:before {
        display: none !important;
      }

      &.active,
      &:hover {
        background: #ffd800;
        color: #000;
      }
    }

    span {
      display: block;
      @include transform(skewX(45deg));
      //@include ellipsis(ellipsis);
    }
  }

  .w-text {
    border: none;
    background: #000;

    h2 {
      color: #ffd800;
      //line-height: 42px;
     // margin-bottom: 10px;
    }

    h3 {
      display: none;
    }
  }

  .b-text {
    padding: 4%;
  }

  .text {
    margin-bottom: 4%;
  }

  .footer {
    position: static;
    text-align: center;

    li {
      float: none;
    }
    
    .w-share {
      
    }

    
    .l-nav {
      li {
        display: inline-block;
        vertical-align: top;
        margin: 0 10px;
      }

    }

    .l-share {
      margin: 0;

      
      li {
        margin: 0 10px;
        display: inline-block;
        vertical-align: top;
      }
    }
    
    
    .w-nav,
    .w-share {
      margin-bottom: 10px;
    }
  }

  html, body {
    height: auto;
  }
}


@media #{$mediaC} {
  body {
    /* &:before { */
    /*   content: ''; */
    /*   display: block; */
    /*   width: 200px; */
    /*   height: 200px; */
    /*   position: absolute; */
    /*   right: 0; */
    /*   top: 0; */
    /*   z-index: 999999; */
    /*   background: red; */
    /* } */
  }

  .b-content_inside {
    display: block;

    .w-text {
      display: table;
    }
  }
  
  .w-img,
  .b-text {
    display: table-cell;
  }

  .w-text {
    overflow: hidden;
    width: 100%;
    padding: 0;

    .t-title {
      margin-bottom: 0;
    }

    h2 {
      font-size: 38px;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      line-height: 22px;
    }
  }

  .b-text {
    width: 60%;
    vertical-align: middle;
  }
  
  .w-img {
    width: 40%;

    &.w-img__portrait {
      display: none;
    }
  }

  .b-img {
    padding-bottom: 1000px;
    margin-bottom: -1000px;
  }
  
  .b-img__landscape {
    display: block;
    @include background-size(100% auto);
    background-repeat: no-repeat;
  }
}

@media #{$media830} {
  .i-news .news h3 {
    font-size: 20px;
    line-height: 26px;
  }

  .i-news .i-news__content .btn {
    padding: 4px 24px;
    line-height: 26px;
    font-size: 22px;
  }
}

@media #{$media690} {
  .i-news .news {
    padding: 18px 18px 70px;
    height: 180px;
  }

  .i-news .i-news__content {
    padding: 0 0 180px 0;
  }
  
  .i-news:nth-child(even) .i-news__content {
    padding: 180px 0 0 0;
  }
  
  .i-news .news h3 {
    font-size: 18px;
    line-height: 24px;
  }

  .i-news .i-news__content .btn {
    padding: 4px 20px;
    line-height: 24px;
    font-size: 20px;
  }
}

@media #{$mediaD} {

  .p-title{
    padding-top:70px !important;
    padding-left:70px !important;
    margin-bottom: 20px !important;
    h1{
      font-size: 60px !important;
      line-height: 60px !important;
    }
  }


  .i-video {
    a {
      &:before {
        @include pseudo-block($top: 50%, $left: 50%);
        @include oneline-sprite($icons_x2, videom, $retina: true);
        width: 40px;
        height: 40px;
        margin-left: -20px;
        margin-top: -20px;
      }
    }

    .text {
      line-height: 16px;
      font-size: 14px;
      padding: 10px;
    }
  }

  .i-news {
    width: 100%;
    
    .news {
      position: static;
      margin: 0;
      padding: 16px;
      height: auto;

      &:before {
        display: none;
      }

      p {
        display: block;
        color: #fff;
        font-size: 14px;
        line-height: 20px;
      }

      h3 {
        color: #ffd800;
        
      }

      .w-time {
        display: block;
      }
    }

    .i-news__content {
      padding: 0;
      .btn {
        display: none;
      }
      
    }

    &:nth-child(even) {
      .i-news__content {
        padding: 0;
      }
    }

    
  }
}


@media #{$mediaDP} {

  .i-news .i-news__content {
    padding: 0;
  }

  .i-news .news {
    height: auto;
    padding: 15px;
    margin: 0;
  }

  .i-news:nth-child(even) .news {
    margin: 0;
  }

  .i-news .w-time {
    position: relative;
    padding: 0 0 0 32px;
    line-height: 26px;
    &:before {
      @include pseudo-block($top: 1px, $left: 0);
      width: 25px;
      height: 25px;
      @include oneline-sprite($icons_x2, clock, $retina: true);
    }
  }

  .i-news .news p {
    font-size: 16px;
    line-height: 22px;
  }

  .i-news:nth-child(even) .i-news__content {
    padding: 0;
  }

  .b-content_inside {
    display: block;

    .w-text {
      display: table;
    }
  }
  
  .w-img,
  .b-text {
    display: block;
  }

  .w-text {
    overflow: hidden;
    width: 100%;
    padding: 0;

    .t-title {
      margin-bottom: 20px;
    }

    h2 {
      font-size: 38px;
      margin-bottom: 0;
    }

    p {
      font-size: 14px;
      line-height: 22px;
    }
  }

  .b-text {
    width: 100%;
    @include box-sizing(border-box);
  }

  .w-img {
    width: 100%;

    &.w-img__landscape {
      display: none;
    }

    &.w-img__portrait {
      display: block;
    }


    img {
      width: 100%;
      display: block;
      
    }
  }

  .btn_top {
    text-align: center;
  }
}

@media #{$media580} {
  .w-text h2 {
    font-size: 28px;
  }

  .w-text p {
    line-height: 20px;
  }

  .b-img__landscape {
    margin-top: 20px;
  }

  .w-tab a {
    font-size: 18px;
  }
}

@media #{$mediaE} {
  .media,.makers{
    .p-title{
      h1{
        font-size: 40px !important;
        line-height: 40px !important;
      }
    }
  }

  .i-photo__group {
    width: 100%;
  }

  .i-video__group {
    .i-video {
      width: 100%;
      margin-bottom: 10px;
      padding: 0 10px;
    }
  }
  #cast,
  #makers{
    .w-tab{
      .tab{
        text-align: center;
        
        li{
          width: 100%;
          float: none;
          display: block;
        }
      }
    }
  }


  #news {
    .w-tab {
      text-align: center;
      
      li {
        min-width: 90px;
        display: inline-block;
        vertical-align: top;
        float: none;
      }
    }
  }

  .i-news .news p {
    font-size: 14px;
    line-height: 20px;
  }
}