*, body{
	margin: 0;
	padding: 0;
	font-family: $scadaR;
}

body {
  background-color: #6e6d6f;
  overflow-x: hidden;
  // overflow-y: hidden;
  min-height: 100%;
}

#bg {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: -1;
	top:0;
	left: 0;
	/*background-color: #9BE1FF;*/
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}


#home{
  background-repeat:no-repeat;
  background-size: auto 100%;
}

#home .slogan {
  font-size: 24px;
  position: absolute;
  line-height: 25px;
  margin-top: 135px;
  margin-left: -273px;
  left: 50%;
  top: 50%;
}

#home.mobile_home{
  position:relative;
}
.home.tablet{
  overflow:hidden;
}
.home.tablet #side_page_right,
.home.tablet #side_page_left{
  position:absolute !important;
}

#home.mobile_home .bg_mobile{
  background: url('../image/bg/bg_mob_main.jpg') center no-repeat;
  
  background-size: cover;
  width: 100%;
  height: 90%;
  min-height: 430px;
}


#home.mobile_home .particles{
  position:absolute;
  top: 0;
  left: 0;
}

#news {
  background-repeat:no-repeat;
  background-size: auto 100%;
}

//news_all.jpg
#cast{
  background-repeat:no-repeat;
  background-size: auto 100%;
}

#cast .tab li,
#makers .tab li{
  cursor: pointer;
}

#cast .text,
#makers .text {
    position: relative;
    padding-right: 15px;
}

.mobile.cast ,
.mobile.makers {
  background: url('../image/bg/cast_mobile.jpg') no-repeat;
  background-size: 100% auto;
  background-color: #000;
}

@media only screen and (orientation: landscape) and (max-width: 680px){
  .mobile.cast ,
  .mobile.makers {
    background-size: 100% auto;
    background-color: #000;
  }
}
@media only screen and (orientation: portrait) and (max-width: 680px){
  .mobile.cast ,
  .mobile.makers {
    background: url('../image/bg/filmmakers_mobile.jpg') no-repeat;
    background-size: 100% auto;
     background-color: #000;
  }
}
.mobile.news {
  background-image: url('../image/bg/news_mobile.jpg');
  background-size: 100% auto;
  background-color: #000;
}
.mobile.media{
  background-image: url('../image/bg/media_mobile.jpg');
  background-size: cover;
}


#media {
  background-repeat:no-repeat;
  background-size: auto 100%;
}

#makers {
  background-repeat:no-repeat;
  background-size: auto 100%;
}
//filmmakers_blake.jpg
//filmmakers_casey_john.jpg
//filmmakers_debora.jpg
//filmmakers_embacment_films.jpgf
//filmmakers_kevin.jpg
//filmmakers_scott.jpg

/*-----*/

#title_page{
	position: fixed;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	z-index: 100; 
	left: 7px;
	opacity: 0;
	
}
#title_page.news,
#title_page.cast,
#title_page.filmmakers,
#title_page.multimedia{
	font-size: 80px;
	opacity: 1;
	/*left: 700px;*/
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

#title_page.news{
	left: 300px;
  top: 200px;
}
#title_page.cast{
	left: 700px;
	top: 170px;
}
#title_page.filmmakers{
	left: 700px;
	top: 200px;
}
#title_page.multimedia{
	left: 300px;
  top: 200px;
}



/* ----- */
.rot45deg {
  -webkit-transform: rotate(45deg); 
  -moz-transform: rotate(45deg); 
  -ms-transform: rotate(45deg); 
  -o-transform: rotate(45deg); 
  transform: rotate(45deg);
}

.black {
  background-color: #000000;
}

.yellow {
  background-color: #FFD800;
}

.cont {
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -450px 0 0 -640px;
  overflow: hidden;
  width: 1280px;
  height: 900px;
  background-color: #ffffff;
}

.maska_menu{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  // height: 1024px;
  overflow: hidden;
  pointer-events:none;
}

.transition {
  position: fixed;
  top: -485px;
  left: 85px;
}
.transition.mobile_transition {
  top: -540px;
  left: 40px;
} 

.transition .element {
  position: absolute;
}

.transition .element .bg {
  position: absolute;
  width: 688px;
  height: 688px;
  left: -344px;
  top: -344px;
}


/*------*/

#load{
	width: 1px;
	height: 1px;
	position: fixed;
	color: #fff;	
	opacity: 0;	
	pointer-events: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#load.visib{
	opacity: 1;	
}
#load .cont_load{
	width: 100px;
	height: 100px;
	margin-left: -50px;
	margin-top: -50px;
	position: absolute;
}

#load .cont_load .circle {

}
#load .cont_load .num_load {
	width: 100%;
	height: 26px;
	text-align: center;
	font-size: 20px;
	margin-top: 28px;
}
#load .cont_load .num_load:after{
	content: '%';
}
#load .cont_load .text_load {
	opacity: 0;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-ms-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
}
#load.visib .text_load{
	bottom: 25px;
	opacity: 1;	
}

#main_menu {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.header_cont {
  position: absolute;
  width: 160px;
  height: 110px;
  cursor: pointer;
  z-index: 20;
  
}
.mobile_menu .header_cont {
  width: 100px;
  height: 100px;
}

.header_cont .lines_cont {
  position: absolute;
  left: 25px;
  top: 40px;
}
#main_menu.mobile_menu .header_cont .lines_cont{
  top: 30px;
}

.header_cont .lines_cont .line {
  position: relative;
  width: 27px;
  height: 6px;
  margin-bottom: 3px;
  background-color: #000000;
}

.header_cont .haeder_label {
  position: absolute;
  top: 33px;
  left: 70px;
  font-size: 32px;
}

.menu_cont {
  position: absolute;
  left: 27px;
  top: 65px;
}

.cont_list_menu {
    position:relative;
    overflow:hidden;
    cursor: pointer;
    margin-top: 12px;

    &:first-child{
        margin-top: 0px;
    }
    
    a {
        color: #000000;
        text-deocration: none;
        text-decoration: initial;
    }
}

body.home .menu_cont .cont_list_menu.itm_home,
body.news .menu_cont .cont_list_menu.itm_news,
body.cast .menu_cont .cont_list_menu.itm_cast,
body.media .menu_cont .cont_list_menu.itm_media,
body.makers .menu_cont .cont_list_menu.itm_makers{
  display: none;
}

#main_menu.mobile_menu .cont_list_menu{
  text-align: center;
}
.cont_list_menu .line{
	height:5px;
	width: 150px;
	background-color:#000;

}

.close_btn {
  position: absolute;
  left: 361px;
  top: 15px;
  font-size: 24px;
  cursor: pointer;
  
  a {
    text-decoration: initial;
    color: inherit;
  }
}
#main_menu.mobile_menu .close_btn{
  left: 25px;
}

.footer_menu{
	cursor: pointer;
    
    a {
        color: #ffffff;
        text-deocration: none;
        text-decoration: initial;
    }

}

#content .selected {
  display: table-cell !important;
  overflow: hidden;
}

#content .page {
  display: table-cell;
  vertical-align: middle;
}
body.mobile #content .page {
  display: block;
}

#preloader {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -100px;
  margin-left: -100px;
}

#preloader .label{
  position: absolute;
  width: 50px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  font-family: sans-serif;
  left: 50%;
  top: 50%;
  margin-top: -10px;
  margin-left: -25px;
}

#preloader.white {
  color: #ffffff;
}

#preloader.black {
  color: #000000;
}

.screen {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 900px;
  height: 350px;
  margin-left: -450px;
  margin-top: -175px;
  -moz-transform: scaleX(0) scaleY(0); /* Для Firefox */
  -ms-transform: scaleX(0) scaleY(0); /* Для IE */
  -webkit-transform: scaleX(0) scaleY(0); /* Для Safari, Chrome, iOS */
  -o-transform: scaleX(0) scaleY(0); /* Для Opera */
  transform: scaleX(0) scaleY(0);
}
#intro{
  overflow:hidden;
}

#intro_bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #6e6d6f;
  overflow: hidden;
}

.waterdrop {
  position: absolute;
  background-repeat: no-repeat;
  
  &.type1 {
    @include oneline-sprite-box($waterdrops, 1);
  }
  &.type2 {
    @include oneline-sprite-box($waterdrops, 2);
  }
  &.type3 {
    @include oneline-sprite-box($waterdrops, 2);
  }
  &.type4 {
    @include oneline-sprite-box($waterdrops, 4);
  }
  &.type5 {
    @include oneline-sprite-box($waterdrops, 5);
  }
  &.type6 {
    @include oneline-sprite-box($waterdrops, 6);
  }
  &.type7 {
    @include oneline-sprite-box($waterdrops, 7);
  }
  &.type8 {
    @include oneline-sprite-box($waterdrops, 8);
  }
  &.type9 {
    @include oneline-sprite-box($waterdrops, 9);
  }
  &.type10 {
    @include oneline-sprite-box($waterdrops, 10);
  }
  &.type11 {
    @include oneline-sprite-box($waterdrops, 11);
  }
  &.type12 {
    @include oneline-sprite-box($waterdrops, 12);
  }
  &.type13 {
    @include oneline-sprite-box($waterdrops, 13);
  }
  &.type14 {
    @include oneline-sprite-box($waterdrops, 14);
  }
  &.type15 {
    @include oneline-sprite-box($waterdrops, 15);
  }
}


.video_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  
}

#side_page_right,
#side_page_left{
  position: fixed;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


#side_page_right{
	top: 50px;
}

#side_page_right.mobile_squary{
  position:relative;
  top: -55px;
  bottom:auto;
  background: url('../image/bg/bg_page.jpg');
  background-size:cover;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
#side_page_right.mobile_squary:before{
  @include oneline-sprite($icons_x2, imgoR, $retina: true);
  background-position:-498px 0;
  left: 0;
}
#side_page_right.mobile_squary:after{
  @include oneline-sprite($icons_x2, imgoL, $retina: true);
  background-position:-428px 0;
  z-index: -1;
  right: 0;
}

#side_page_right.mobile_squary:before,
#side_page_right.mobile_squary:after{
  content: '';
  position:absolute;
  @include transform(scale(1.8));
  background-size: auto !important;
  top:0;
  
  width: 32%;
  height: 25%;
}


#side_page_right.mobile_squary .cont_rhom{
  position: static;
}
#side_page_right.mobile_squary .cont_rhom:first-child{
  position:absolute;
  top: 0px;
}


#home .btn_top{
  position:absolute;
  bottom: 100px;
  right: 10%;
}
#news .btn_top{
  position:fixed;
  bottom: 20px;
  right: 20px;
}
.cont_rhom{
  position: absolute;   
  display: inline-block;
}
.rhom_before, 
.rhom_after{
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.99;
}
.rhom_before{
  background-color: #000;
  img.preloader{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
  }
}
.rhom_after{
  position:relative
}

.text_rhom{
  position: absolute;
  -moz-transform: rotate(45deg); 
  -ms-transform: rotate(45deg); 
  -webkit-transform: rotate(45deg); 
  -o-transform: rotate(45deg); 
  transform: rotate(45deg);
  background-size: auto 100%;
  background-position-x: center;
  opacity: 0.99;
  transition: 0.3s transform cubic-bezier(0.55, 0.06, 0.68, 0.19);
  
  &:hover {
    transform: rotate(45deg) scale(1.05);
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.19);
  }

 .video{
    position:absolute;
    left: 50%;
    top: 50%;
    margin-left: -343px;
    margin-top: -190px;
    background: url('../image/bg/main.jpg') center no-repeat;
    background-size: cover;
  }
}

#video-player {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 1px;

}
#video-player video{
  margin-top: -540px;
  margin-left: -960px;
}

.scrollCont {
  overflow: hidden;
}
.mobile.home .footer{
  position:absolute;
}
.mobile.home .footer.footer_tablet{
  background-color:transparent;
  text-align: right;
}

.screen.mobile_intro{
  top: 0;
}

#anim_bg, #anim_bg * {
  position: absolute;
}
#anim_bg {

    z-index: -1;
    left: 0px;
    top: 0px;
    position: fixed;
}

.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffd800;

  .popup_semitransparent_bg {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);    
    width: 100%;
    height: 100%;
  }

  .popup_bg {
    position: absolute;
    background-color: #000000;
  }

  .popup_img {
    position: relative;
    transform-origin: 50% 50%;
  }

  .popup_content {
    position: absolute;
    font-size: 38px;
  }

  .scroll_cont {
    overflow: hidden;
    position: relative;
  }

  .title {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .text_cont {
    color: #ffffff;
    font-size: 23px;
  }

  .icons {
    position: absolute;
    bottom: 15px;
  }

  .ico {
    position: relative;
    width: 54px;
    height: 54px;
    float: left;
    margin-right: 8px;
    margin-top: 10px;
    cursor: pointer;
    
    &:hover::before {
      position: absolute;
      width: 46px;
      height: 28px;
      top: -30px;
      left: 6px;
      content: attr(data-content);
      color: #000000;
      font-size: 16px;
      line-height: 23px;
      text-align: center;
      @include oneline-sprite($icons_x2, little_bubble);
    }
    
    &.fb {
      @include oneline-sprite($icons_x2, popup_fb_ico);
    }
    
    &.twitter {
      @include oneline-sprite($icons_x2, popup_twitter_ico);
    }

    &.ln {
      @include oneline-sprite($icons_x2, popup_ln_ico);
    }

    &.gp {
      @include oneline-sprite($icons_x2, popup_gp_ico);
    }

    &.pinterest {
      @include oneline-sprite($icons_x2, popup_pinterest_ico);
    }

  }

  .popup_img_cont {
    position: absolute;
    background-color: #ffffff;
    overflow: hidden;
  }

  .popup_preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -15px;
    margin-top: -15px;
  }

  .popup_img {
    position: absolute;
  }

  &.photo .close_btn {
    background-color: #000000;
    color: #FFD800;
    width: 33px;
    height: 33px;
    text-align: center;
  }

  &.video {
    .video_cont,
    .video_desc,
    .video_list {
      position: absolute;
      box-sizing: border-box;
    }

    .views, .likes {
      font-size: 18px;
      color: #ffffff;
      margin: 10px 10px 0px 0px;
    }
    
    .views::before {
      content: "";
      display: inline-block;
      width: 22px;
      height: 15px;
      margin-right: 10px;
      @include oneline-sprite($icons_x2, eye);
    }
    
    .likes::before {
      content: "";
      display: inline-block;
      width: 17px;
      height: 17px;
      margin-right: 10px;
      @include oneline-sprite($icons_x2, heart);
    }
    
    .video_desc {
      .title {
        font-size: 24px;
        margin-top: 25px;
        margin-bottom: 15px;
      }
    }

    .video_list {
      padding-top: 55px;
      
      .title {
        font-size: 34px;
        cursor: pointer;
      }
      
      .video_item {
        
        clear: both;
        border-bottom: 1px solid rgba(94,109,129,0.4);
        
        .video_img, .desc {
          width: 50%;
          height: 150px;
          box-sizing: border-box;
          padding: 20px 0px 10px 0px;
          float: left;
        }
        
        .video_img {
          cursor: pointer;
        }
        
        .desc {
          padding: 12px 0px 10px 0px;
        }
        
        .title {
          font-size: 16px;
        }
        
        hr {
          border-color: rgba(94, 109, 129, 0.4);
          margin-top: 8px;
          margin-bottom: 20px;
        }
      }
      
      .video_list_scroll {
        overflow: hidden;
        width: 95%;
        position: relative;
      }
    }
  }
}
#news{
  .popup_img_cont{
      background-color:#000;
  }
  .popup_img {
    position: relative;
  }
}

.i-news{
  @include transition(all 300ms);
  &.read{
    width: 100%;
    .close{
      position:absolute;
      bottom: 25px;
      left: 25px;
      display:block !important;
    }
    .all{
      display: none !important;
    }
    .close_1{
      display: block !important;
      position:absolute;
      font-size: 60px;
      top: 25px;
      right: 25px;
      width: 43px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      padding: 7px 0;
      @include transform(rotate(45deg));
    }
    .i-news__content{
      padding:0;
      position:relative;


      .news{
        margin: 0 0;
        height: auto;
        position:static;
        .w-time{
          padding-left: 35px;
          position:relative;
          &:before {
            content: "";
            display: block;
            position: absolute;
            top: 1px;
            left: 0;
            @include pseudo-block($top: 1px, $left: 0);
            width: 25px;
            height: 25px;
            @include oneline-sprite($icons_x2, clock, $retina: true);
          }
        }
        h3{
          color: #ffd800;
        }
        .w-time{
          display: block;
        }
        p{
          display: block;
          color: #fff;
        }
      }
    }
  }
}
.close,
.close_1{
  display: none !important;
}
@media only screen and (orientation: landscape) and (max-width:1280px){

  #home.mobile_home,
  .home.mobile{
    overflow-y: hidden;  
  }

  #home.mobile_home .bg_mobile{
    background: url('../image/bg/main.jpg') center no-repeat;
    background-size: cover;
    min-height: 0;

  }
  #side_page_right{
    top: 30px;
    position:absolute;
  }
  .mobile.home .footer{
    background-color: rgba(0,0,0,0);
    padding:5px;
  }
  .footer .w-nav, .footer .w-share {
      margin-bottom: 0px;
  }
}

.ng-social {
    list-style: none;
    li {
        display: block;
        float: left;
    }
}
@media only screen and (max-width:580px){
  #media{
    .b-share{
      height: 80px;
      width: 180px;
      margin-left: -90px;
      margin-top: -40px;
      .ng-social {
        li {
            padding: 7px 15px !important;
        }
      }
    }
  }
}

.no-border {
    border-style: none;
}

.text_cont p, .mobile_text_cont p {
    margin-bottom: 1em;
}
.text_cont a, .mobile_text_cont a {
    color: #ffffff;
}
    
@media #{$mediaCPP}{
  body{
    &.tablet{
      height: auto;
      .i-video__group {
        margin: 0;
        width: 100%;
        .i-video {
          width: 50%;
          float: left;
          padding: 0 5px;
          @include box-sizing(border-box);
        }
      }

      &.cast,
      &.makers  {
        .p-title{
          padding-top: 100px;
          padding-left:90px;
          margin-bottom: 40px;
          h1{
            font-size: 80px;
            line-height: 80px;
          }
        }
      }
      &.news,
      &.media{
        .p-title{
          padding-top: 110px;
          padding-left:30px;
          margin-bottom: 20px;
          h1{
            font-size: 80px;
            line-height: 80px;
          }
        }
      }
      
      .b-video {
        margin: 0;
      }

      .i-video {
        .text {
          @include ellipsis(ellipsis);
        }
      }

      .i-news {
        padding: 5px 5px;
        margin: 0;
        width: 50%;
        @include box-sizing(border-box);

        .news {
          margin: 0 5px;
          //height: auto;
        }

        &:nth-child(even) {
          .news {
            margin: 5px 5px 0;
          }
        }
      }

      .w-photo,
      .w-video,
      .w-news {
        border-left: none;
      }

      .w-tab {
        min-height: 0;
        min-width: 0;
        // min-width: 186px;
        padding: 0 30px;
        margin-bottom: 30px;

        .tab {
          clear: both;
          overflow: hidden;
          padding: 0 20px;
          max-width: none;
        }

        li {
          float: left;
          width: 50%;
          @include box-sizing(border-box);
          padding: 0 10px 12px;
          margin: 0;
        }

        a {
          font-size: 20px;
          padding-top: 4px;
          padding-left: 14px;
          padding-bottom: 4px;
          text-align: center;
          background: #000;
          margin: 0;
          @include transform(skewX(-45deg));
          @include border-radius(0);
          &:before {
            display: none !important;
          }

          &.active,
          &:hover {
            background: #ffd800;
            color: #000;
          }
        }

        span {
          display: block;
          @include transform(skewX(45deg));
          //@include ellipsis(ellipsis);
        }
      }

      
      #news,  
      #media{
        .w-tab {
          padding: 0 10px;
          margin: 0 0 10px 0;
          text-align: left;
          
          .tab {
            padding: 0;
            display: inline-block;
            vertical-align: top;
          }
          
          li {
            width: auto;
            padding: 0 5px;
            margin: 0 0 10px 0;
            min-width: 120px;
            float: left;
          }
          a, span {
            @include transform(skewX(0));
          }

          a {
            padding: 5px 10px;
            @include border-radius(3px);
            position: relative;
            background: transparent;
            color: #fff;
            
            &:hover,
            &.active {
              background: #000;
              color: #ffd800;

              &:before {
                @include pseudo-block($top: auto, $left: 50%, $bottom: -10px, $right: auto);
                display: block !important;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 9px 0 9px;
                border-color: #000 transparent transparent transparent;
                opacity: 1;
                margin-top: 0;
                margin-left: -9px;
              }
            }
          }
        }
      }

      #makers,  
      #cast {
        .w-tab {
          padding: 0 5px;
          margin: 0 0 35px 0;
          text-align: center;
        }
      }


      .b-photo,
      .b-video,
      .b-news {
        clear: both;
        overflow: hidden;

        .btn_top {
          padding: 20px 0;
          display: block;
          text-align: center;
        }
      }

      .i-photo__group {
        width: 50%;
        margin: 0 0 10px;
        padding: 0 5px;
        @include box-sizing(border-box);
      }

      .b-content_inside {
        .w-photo,
        .w-news {
          display: block;
          padding: 10px;
          margin: 0 auto;
        }
        .w-video {
          margin: 0;
          display: block;
          padding: 0;
        }
      }
    

      #content {
        #news.selected,#media.selected {
          display: block !important;
          margin: 0 auto;
        }
      }

      .w-photo,
      .w-video,
      .w-news {
        border-left: none;
        
      }
 
      #cast_mobile {
        background-image: none;
      }
      .w-content {
        vertical-align: bottom;
      }

      .w-text {
        h2 {
          font-size: 40px;
          line-height: 38px;
        }

        h3 {
          font-size: 20px;
        }

        p {
          font-size: 14px;
          line-height: 18px;
        }
        
        .t-title {
          margin-bottom: 20px;
        }
      }

      .b-content {
        padding-right: 20px;
      }


      #cont_menu, #main_menu, 
      .transition.mobile_transition {
        position: absolute !important;
      }
      .btn_top {
        display: block;
      }

    
    
      #bg {
        display: none;
      }
      .p-title {
        position: static;

        h1 {
          font-size: 100px;
        }
      }

      #content {
        display: block;
      }

      .w-content {
        display: block;
        vertical-align: top;
      }

      .b-content {
        float: none;
        padding: 0;
      }
    
      .b-content_inside {
        display: block;

        .w-tab {
          display: block;
        }

        .w-text {
          display: block;
        }
      }

      

      .w-text {
        border: none;
        background: #000;

        h2 {
          color: #ffd800;
        }

        h3 {
          display: none;
        }
      }

      .text {
        margin-bottom: 4%;
      }

      .footer {
        background: #000;
        position: static;
        text-align: center;

        li {
          float: none;
        }
        
        .l-nav {
          li {
            display: inline-block;
            vertical-align: top;
            margin: 0 10px;
          }

        }

        .l-share {
          margin: 0;

          
          li {
            margin: 0 10px;
            display: inline-block;
            vertical-align: top;
          }
        }
        
        
        .w-nav,
        .w-share {
          margin-bottom: 10px;
        }
      }

      .b-content_inside {
        display: block;

        .w-text {
          display: table;
        }
      }
    
      .w-img,
      .b-text {
        display: table-cell;
      }

      .w-text {
        overflow: hidden;
        width: 100%;
        padding: 0;

        .t-title {
          margin-bottom: 0;
        }

        h2 {
          font-size: 38px;
          margin-bottom: 10px;
        }

        p {
          font-size: 14px;
          line-height: 22px;
        }
      }

      .b-text {
        padding: 4%;
        width: 60%;
        vertical-align: middle;
      }
      
      .w-img {
        width: 40%;

        &.w-img__portrait {
          display: none;
        }
      }

      .b-img {
        padding-bottom: 1000px;
        margin-bottom: -1000px;
      }

      .b-img__landscape {
        display: block;
        @include background-size(100% auto);
        background-repeat: no-repeat;
      }
    }

  }
}

.date {
    font-family: scadaitalic;
    font-size: 17px;
    letter-spacing: 1px;
    padding: 10px 0px 21px 0px;
    &::before {
        content: " ";
        display: inline-block;
        margin-right: 10px;
        position: relative;
        top: 4px;
        @include oneline-sprite-box($icons_x2, date_ico)
    }
}

.i-news__content .news .date {
    font-size: 15px;
    position: absolute;
    bottom: 12px;
    right: 163px;
    color: #ffd800;
}

.iScrollIndicator {
    cursor: pointer;
}